droplet_name   = "cw28-droplet-em"
droplet_image  = "ubuntu-24-04-x64"
droplet_size   = "s-1vcpu-1gb"
region         = "fra1"
vpc_name       = "cw28-vpc-em"
vpc_ip_range   = "10.114.91.0/20"
firewall_name  = "cw28-firewall-em"
ssh_key_name   = "cw28-ssh-key-em"
name_prefix        = "jsystems-lab-em"
project_environment = "Development-em"