droplet_name   = "cw28-droplet_em"
droplet_image  = "ubuntu-24-04-x64"
droplet_size   = "s-1vcpu-1gb"
region         = "fra1"
vpc_name       = "cw28-vpc_em"
vpc_ip_range   = "10.114.90.0/20"
firewall_name  = "cw28-firewall_em"
ssh_key_name   = "cw28-ssh-key_em"
name_prefix        = "jsystems-lab-em"
project_environment = "Development_em"